fastapi==0.115.12
uvicorn==0.34.2
scikit-learn==1.6.1
xgboost==1.7.6
pandas==2.2.3
numpy>=1.26.0,<2.0.0
matplotlib==3.8.0
seaborn==0.13.0
plotly==5.22.0
imbalanced-learn==0.13.0
python-dotenv==1.0.1
python-multipart==0.0.19
